{% macro input(action) %}
    <form action="{{ action }}" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
{% endmacro %}